.section-hero {
  padding: 50px 0 190px;
  background-image: url("../img/hero/hero-bg.jpg");
  background-size: fill;
  position: relative;
  background-position: center center;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-hero {
    padding: 45px 0 120px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-hero {
    padding: 30px 0 100px 0;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-hero {
    padding: 30px 0 80px 0;
  }
}

.section-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(105, 56, 37, 0.582);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.section-hero .hero-header {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 145px;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-hero .hero-header {
    margin-bottom: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-hero .hero-header {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .section-hero .hero-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
}

.section-hero .hero-header .icon {
  width: 116px;
  fill: #ffffff;
  height: 40px;
  /* Landscape phones and portrait tablets */
}

@media (max-width: 767px) {
  .section-hero .hero-header .icon {
    margin-bottom: 30px;
  }
}

.section-hero .hero-header .hero-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero .hero-header .hero-navigation .navigation-item {
  margin-left: 60px;
  /* Portrait phones and smaller */
}

@media (max-width: 480px) {
  .section-hero .hero-header .hero-navigation .navigation-item {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .section-hero .hero-header .hero-navigation .navigation-item {
    margin-left: 30px;
  }
}

.section-hero .hero-header .hero-navigation .navigation-item:first-child {
  margin-left: 0;
}

.section-hero .hero-header .hero-navigation .navigation-item .navigation-link {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
}

.section-hero .hero-content {
  position: relative;
  z-index: 3;
  /* Landscape phones and portrait tablets */
}

@media (max-width: 767px) {
  .section-hero .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-hero .hero-content .hero-title {
  font-size: 64px;
  line-height: 78px;
  margin: 0 0 26px 0;
  color: #FFFFFF;
  font-weight: 400;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-hero .hero-content .hero-title {
    font-size: 52px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-hero .hero-content .hero-title {
    font-size: 45px;
    margin-bottom: 18px;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-hero .hero-content .hero-title {
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 480px) {
  .section-hero .hero-content .hero-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 24px;
  }
}

.section-hero .hero-content .hero-description {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 106px 0;
  color: #FFFFFF;
  font-weight: 400;
  /* Landscape tablets and medium desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-hero .hero-content .hero-description {
    margin-bottom: 75px;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-hero .hero-content .hero-description {
    text-align: center;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 480px) {
  .section-hero .hero-content .hero-description {
    text-align: center;
    margin-bottom: 45px;
  }
}

.section-hero .hero-content .hero-link {
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  font-weight: 400;
  /* Landscape phones and portrait tablets */
}

@media (max-width: 767px) {
  .section-hero .hero-content .hero-link {
    display: inline-block;
    margin: auto;
  }
}

.section-about {
  padding: 93px 0 115px 0;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-about {
    padding: 80px 0 90px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-about {
    padding: 65px 0 75px 0;
  }
}

@media (max-width: 767px) {
  .section-about {
    padding: 65px 0 60px 0;
  }
}

.section-about .about-container .about-title {
  font-weight: bold;
  margin: 0 0 76px 0;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-about .about-container .about-title {
    margin-bottom: 65px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-about .about-container .about-title {
    margin-bottom: 55px;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-about .about-container .about-title {
    margin-bottom: 50px;
    text-align: center;
  }
}

.section-about .about-container .about-description {
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
  text-align: justify;
  color: #333333;
}

.section-skills {
  background-color: #FFFAF2;
  padding: 93px 0 145px 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-skills {
    padding: 80px 0 120px 0;
    /* Portrait tablets and small desktops */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-skills {
    padding: 65px 0 100px 0;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-skills {
    padding: 60px 0 90px 0;
  }
}

.section-skills .skills-container .skills-title {
  margin-bottom: 86px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-skills .skills-container .skills-title {
    margin-bottom: 70px;
    /* Portrait tablets and small desktops */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-skills .skills-container .skills-title {
    margin-bottom: 55px;
    text-align: center;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-skills .skills-container .skills-title {
    margin-bottom: 50px;
    text-align: center;
  }
}

.section-skills .skills-container .stats-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-skills .skills-container .stats-block {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .section-skills .skills-container .stats-block {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-skills .skills-container .stats-block .skills-photo {
  margin-right: 125px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-skills .skills-container .stats-block .skills-photo {
    margin-right: 100px;
    /* Portrait tablets and small desktops */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-skills .skills-container .stats-block .skills-photo {
    margin: 0 0 60px 0;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-skills .skills-container .stats-block .skills-photo {
    margin: 0 0 50px 0;
  }
}

.section-skills .skills-container .stats-block .skills-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 340px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-skills .skills-container .stats-block .skills-photo img {
    width: 300px;
    height: 290px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-skills .skills-container .stats-block .skills-photo img {
    margin: 0;
    display: block;
    margin: auto;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-skills .skills-container .stats-block .skills-photo img {
    margin: 0;
    display: block;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-skills .skills-container .stats-block .skills-stats {
    margin: auto;
    width: 90%;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-skills .skills-container .stats-block .skills-stats {
    margin: auto;
    width: 90%;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 480px) {
  .section-skills .skills-container .stats-block .skills-stats {
    width: 99%;
  }
}

.section-skills .skills-container .stats-block .skills-stats .table-stats {
  font-size: 18px;
  line-height: 25px;
  /* Portrait phones and smaller */
}

@media (max-width: 480px) {
  .section-skills .skills-container .stats-block .skills-stats .table-stats {
    font-size: 16px;
  }
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .first-column {
  width: 190px;
  font-weight: 600;
  padding-bottom: 20px;
  /* Portrait phones and smaller */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-skills .skills-container .stats-block .skills-stats .table-stats .first-column {
    width: 170px;
  }
}

@media (max-width: 480px) {
  .section-skills .skills-container .stats-block .skills-stats .table-stats .first-column {
    width: 150px;
  }
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .first-column-header {
  padding-bottom: 60px;
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column {
  padding-bottom: 20px;
  width: 446px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-skills .skills-container .stats-block .skills-stats .table-stats .second-column {
    width: 420px;
  }
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column .bg-stat {
  background-color: #F5D6AB;
  width: 100%;
  height: 24px;
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column .bg-stat .line-stat {
  width: 90%;
  height: 24px;
  background-color: #C66C49;
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column .bg-stat .line-stat-one {
  width: 90%;
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column .bg-stat .line-stat-two {
  width: 80%;
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column .bg-stat .line-stat-three {
  width: 70%;
}

.section-skills .skills-container .stats-block .skills-stats .table-stats .second-column-header {
  padding-bottom: 60px;
}

.section-portfolio {
  padding: 93px 0 145px 0;
  /* Landscape phones and portrait tablets */
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio {
    padding: 80px 0 120px 0;
  }
}

@media (max-width: 767px) {
  .section-portfolio {
    padding: 70px 0 80px 0;
  }
}

.section-portfolio .portfolio-container .portfolio-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 86px;
  /* Landscape phones and portrait tablets */
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio .portfolio-container .portfolio-title {
    text-align: center;
    margin-bottom: 65px;
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .portfolio-title {
    text-align: center;
    margin-bottom: 60px;
  }
}

.section-portfolio .portfolio-container .swiper-container {
  position: relative;
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .header-slide {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 48px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .header-slide {
    text-align: center;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .header-slide {
    text-align: center;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block {
  width: 350px;
  margin-right: 125px;
  /* Landscape tablets and medium desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block {
    margin-right: 90px;
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block {
    margin-right: 0;
    width: 550px;
    margin: auto;
    margin-bottom: 40px;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block {
    margin-right: 0;
    margin: auto;
    width: 350px;
    margin-bottom: 40px;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block {
    width: 340px;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  /* Landscape tablets and medium desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block p {
    font-size: 16px;
    line-height: 24px;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .text-block p {
    font-size: 16px;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block {
  width: 635px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "slide-image-1 slide-image-2" "slide-image-3 slide-image-2" "slide-image-3 slide-image-4";
  grid-gap: 30px;
  /* Landscape tablets and medium desktops */
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block {
    margin: auto;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block {
    margin: auto;
    width: 350px;
  }
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block {
    width: 340px;
    grid-gap: 15px;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-1 {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slide-image-1;
  width: 350px;
  height: 144px;
  -o-object-fit: cover;
     object-fit: cover;
  /* Landscape tablets and medium desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-1 {
    width: 100%;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-1 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-1 {
    width: 100%;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-2 {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: slide-image-2;
  width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 233px;
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-2 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-2 {
    width: 100%;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-3 {
  display: block;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: slide-image-3;
  height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 349px;
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-3 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-3 {
    width: 100%;
  }
}

.section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-4 {
  display: block;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: slide-image-4;
  width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 144px;
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-4 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .section-portfolio .portfolio-container .swiper-container .swiper-wrapper .swiper-slide .slide .image-block .slide-image-4 {
    width: 100%;
  }
}

.section-portfolio .portfolio-container .swiper-container .block-buttons {
  z-index: 3;
  position: relative;
  left: 15px;
  width: 100px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-portfolio .portfolio-container .swiper-container .block-buttons {
    display: none;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .section-portfolio .portfolio-container .swiper-container .block-buttons {
    display: none;
  }
}

.section-portfolio .portfolio-container .swiper-container .block-buttons .swiper-button-next {
  width: 24px;
  height: 24px;
}

.section-portfolio .portfolio-container .swiper-container .block-buttons .swiper-button-prev {
  width: 24px;
  height: 24px;
}

.footer {
  padding: 93px 0 189px 0;
  background-color: #FFFAF2;
}

@media (max-width: 480px) {
  .footer {
    padding: 93px 0 150px 0;
  }
}

.footer .footer-container .footer-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 51px;
}

@media (max-width: 480px) {
  .footer .footer-container .footer-header {
    text-align: center;
  }
}

.footer .footer-container .block-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .footer .footer-container .block-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer-container .block-contacts .social-list {
  list-style: none;
}

@media (max-width: 480px) {
  .footer .footer-container .block-contacts .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 40px;
  }
}

.footer .footer-container .block-contacts .social-list li {
  margin-bottom: 14px;
}

.footer .footer-container .block-contacts .social-list li .social-link {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-decoration: none;
}

* {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 740px;
    /* Landscape phones and portrait tablets */
  }
}

@media (max-width: 767px) {
  .container {
    width: 85%;
    /* Portrait phones and smaller */
  }
}

@media (max-width: 480px) {
  .container {
    width: 85%;
  }
}
