@import "blocks/_hero";
@import "blocks/_about";
@import "blocks/_skills";
@import "blocks/_slider";
@import "blocks/_footer";

* 
    font-family: 'Libre Franklin', sans-serif
    box-sizing: border-box
    padding: 0
    margin: 0

.container 
    width: 1110px
    margin: 0 auto
