.footer
    padding: 93px 0 189px 0
    background-color: #FFFAF2
    .footer-container
        .footer-header
            font-weight: bold
            font-size: 24px
            line-height: 29px
            color: #333333
            margin-bottom: 51px
        .block-contacts
            display: flex
            align-items: flex-start
            justify-content: space-between
            .social-list
                list-style: none
                li
                    margin-bottom: 14px
                    .social-link
                        font-size: 18px
                        line-height: 22px
                        color: #333333
                        text-decoration: none