.section-skills
    background-color: #FFFAF2
    padding: 93px 0 145px 0
    .skills-container
        .skills-title
            margin-bottom: 86px
            font-weight: 700
            font-size: 24px
            line-height: 29px
        .stats-block
            display: flex
            align-items: center
            // justify-content: space-between
            .skills-photo
                margin-right: 125px
                img
                    object-fit: cover
                    width: 350px
                    height: 340px
            .skills-stats
                .table-stats
                    font-size: 18px
                    line-height: 25px
                    .first-column
                        width: 190px
                        font-weight: 600
                        padding-bottom: 20px
                    .first-column-header
                        padding-bottom: 60px
                    .second-column
                        padding-bottom: 20px
                        width: 446px
                        .bg-stat
                            background-color: #F5D6AB
                            width: 100%
                            height: 24px
                            .line-stat
                                width: 90%
                                height: 24px
                                background-color: #C66C49
                            .line-stat-one
                                width: 90%
                            .line-stat-two
                                width: 80%
                            .line-stat-three
                                width: 70%
                    .second-column-header
                        padding-bottom: 60px

                            